body {
    background-color: #F3D5C0;
  }
h1 {color: #506D84;}
h2 {color: #506D84;}
h3 {color: #506D84;}

  hr{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #889EAF;
    height: 0%;
    width: 8%;
  }
